
*.pyc
.DS_Store
data/.DS_Store
data/SNL/.DS_Store
seq#1/grid
seq#1/ip.txt
seq#1/jgrid
seq#1/op.txt
seq#1/print
seq#1/vessel
src/.DS_Store
.DS_Store
src/.DS_Store
aholm_mar1719_7/data.p
aholm_mar1719_7/E2D_2_UE.pckl
aholm_mar1719_7/E2Dexport.h5
aholm_mar1719_7/E2Dexport.npz
aholm_mar1719_7/gridue
aholm_mar1719_7/original.h5
aholm_mar1719_7/readtran_holm
aholm_mar1719_7/tran
